extends layouts/default
block favicon
	link(rel='shortcut icon' href='img/favicon_1.ico' type='image/x-icon')
block vars
	-
		const page = {
			title: 'Gsap',
			mainClass: '',
			mainParams: 'style="opacity: 0"',
		};


block main
	canvas#noise.noise
	.header
		.header__left
			.header__letter MD
			.header__socials
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#fb")
				a(href="" target="_blank")
					svgMY MOCKUP DIGITAL

						use(xlink:href="./svg/sprite.svg#tw")
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#in")
		.header__right
			ul.header__menu
				li.active
					a.js-scroll-link(href="javascript:;" data-link="0") ГЛАВНАЯ
				li
					a.js-scroll-link(href="javascript:;" data-link="1") Проекты
				li
					a.js-scroll-link(href="javascript:;" data-link="2") Достижения
				li
					a.js-scroll-link(href="javascript:;" data-link="3") Рекомендации
				li
					a.js-scroll-link(href="javascript:;" data-link="4") Опыт
				li
					a.js-scroll-link(href="javascript:;" data-link="5") blog
				li
					a.js-scroll-link(href="javascript:;" data-link="6") Контакты

			.header__phone
				a(href="tel:+79155118815") +7 (915) 511 88 15


	.scroll
		.home-page
			.page-title.show
				ul
					li
						.title MOCKUP.DIGITAL
						.number 1.0
					li
						.title Портфолио
						.number 2.0
					li
						.title Достижения
						.number 3.0
					li
						.title Рекомендации
						.number 4.0
					li
						.title Опыт работы
						.number 5.0
					li
						.title from the blog
						.number 5.0
					li
						.title Контакты
						.number 6.0

				canvas#noise_menu.noise.noise--inner

			.scrollable
				section.home
					.sticky-title
						ul
							li
								div MOCKUP.DIGITAL
								div 1.0
					.content
						.content__left
							.content__title
								.h1 Получите свой
								.h1 лучший
								.h1 сайт

							.content__description
								.small Здравствуйте! Мы веб-студия MOCUP.DIGITAL и мы разрабатываем сайты более 5 лет.


							.content__btn-block
								.content__btn-label.small (Связаться :)
								a.content__btn-btn.btn.btn--arrow.js-scroll-link(href="#hireme" data-link="6")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


							.home__numbers
								.home__number
									.home__number-digital(data-number="5") 5
									.home__number-text.small Лет <br>разработки
								.home__number
									.home__number-digital(data-number="5") 5
									.home__number-text.small Themeforest <br>awwards
								.home__number
									.home__number-digital(data-number="20") 20
									.home__number-text.small Разработанных <br>проектов

						.content__right
							.home__circles
								.home__circles-lines
								.home__circle.home__circle--left
									img.home__circle-img(src="img/image-1.jpg" alt="")
								.home__circle.home__circle--right
									.home__circle-text
										label.input-file(for="brief")
											span Fill out the <br>brief to find out <br>the cost


			.scrollable
				section.projects
					.sticky-title
						ul
							li
								div Портфолио
								div 2.0
					.content
						.content__left
							.content__title
								.h1 projects

							ul.content__menu.projects__menu
								li.active
									a(href="javascript:;") BERLING agency website
								li
									a(href="javascript:;") Prettylittlething american shop
								li
									a(href="javascript:;") Benhome - Architecture theme
								li
									a(href="javascript:;") Gilhouse - architecture website
								li
									a(href="javascript:;") gilber - personal website
								li
									a(href="javascript:;") jonny - personal website



							.content__btn-block
								.content__btn-label.small View all works
								a.content__btn-btn.btn.btn--arrow(href="https://www.behance.net/" target="_blank" rel="nofollow")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


						.content__right
							.projects__blocks
								.projects__block.active
									a(href="#" target="_blank" rel="nofollow")
										img(src="img/project-1.jpg" alt="")
								.projects__block.active
									a(href="#" target="_blank" rel="nofollow")
										img(src="img/project-2.jpg" alt="")
								.projects__block.active
									a(href="#" target="_blank" rel="nofollow")
										img(src="img/project-3.jpg" alt="")
								.projects__block.active
									a(href="#" target="_blank" rel="nofollow")
										img(src="img/project-4.jpg" alt="")
								.projects__block.active
									a(href="#" target="_blank" rel="nofollow")
										img(src="img/project-5.jpg" alt="")
								.projects__block.active
									a(href="#" target="_blank" rel="nofollow")
										img(src="img/project-6.jpg" alt="")

			.scrollable
				section.awards
					.sticky-title
						ul
							li
								div my awwards
								div 3.0
					.content
						.content__left
							.content__title
								.h1 Explore my
								.h1 profile

							.content__description
								.small Hello, my name is Pavel Suslov and i am UX/UI designer and front-end developer, im working via developer 9 years and i know all about design

							.content__btn-block
								.content__btn-label.small View behance
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


						.content__right
							.content__subtitle Professional <span>awards</span>
							.content__awards.awards__list
								.content__award
									.content__award-img
										img(src="img/award-1.png" alt="")
									.content__award-title
										p 1ST WINNER CREATIVE DESIGN CHAMPIONSHIP
									.content__award-text.small For most favorited design voted by NY City Style customers
								.content__award
									.content__award-img
										img(src="img/award-2.png" alt="")
									.content__award-title
										p BEST 5 BRANDING PROJECT OF NOMINATIONS
									.content__award-text.small For best creative & usable health care mobile app design
								.content__award
									.content__award-img
										img(src="img/award-3.png" alt="")
									.content__award-title
										p 8 Years of Membership
									.content__award-text.small Has been part of the Envato Community for over 8 years
								.content__award
									.content__award-img
										img(src="img/award-4.png" alt="")
									.content__award-title
										p Exclusive Author
									.content__award-text.small Sells items exclusively on Envato Market

			.scrollable
				section.testimonials
					.sticky-title
						ul
							li
								div testimonials
								div 4.0
					.content(style="background-image: url(images/testmonials-bg.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center center;")
						.content__left
							.content__title
								.h1 +250
								.h1 happy
								.h1 clients
								.small I love my work and every project is my pride
							.testimonials__clients
								.testimonials__client
									img(src="img/client-1.png" alt="")
								.testimonials__client
									img(src="img/client-2.png" alt="")
								.testimonials__client
									img(src="img/client-3.png" alt="")
								.testimonials__client
									img(src="img/client-4.png" alt="")
						.content__right
							.content__subtitle <span>Creative</span> & dedicated is things that my studio brings for your business

							.content__slider.slides.testimonials__slider
								.slides__container
									.slides__inner
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name david & elisa
											.content__slider-staff.small Apartment view lake at Brooklyn
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name elisa
											.content__slider-staff.small Apartment view lake at Brooklyn
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name david & elisa
											.content__slider-staff.small Apartment view lake at Brooklyn
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name david
											.content__slider-staff.small Apartment view lake at Brooklyn
								.slides__controls
									button#prevButton.slides__btn.slides__btn--prev.btn.btn--invert.btn--arrow
										svg
											use(xlink:href="./svg/sprite.svg#arrow")
									button#nextButton.slides__btn.slides__btn--next.btn.btn--arrow
										svg
											use(xlink:href="./svg/sprite.svg#arrow")

			.scrollable
				section.experience
					.sticky-title
						ul
							li
								div working experience
								div 5.0
					.content
						.content__bg(style="background-image: url(images/exp-bg.jpg);")
						.content__left
							.content__title
								.h1 Education &
								.h1 experience

							.content__description
								.small I have been developing sites for 8 years and I know for sure the main trends and directions of modern design, you will get a decent result

							.content__btn-block
								a.content__btn-btn.btn(href="#") resume

						.content__right
							.content__awards.experience__list
								.content__award
									.content__award-img
										img(src="img/soc-fb.svg" alt="")
									.content__award-title
										span.small 2019-2021
										p facebook
									.content__award-text.small Assertively exploit wireless initiatives rather than synergistic core competencies.
								.content__award
									.content__award-img
										img(src="img/soc-be.svg" alt="")
									.content__award-title
										span.small 2017-2019
										p behance
									.content__award-text.small im working via developer 9 years and i know all about design
								.content__award
									.content__award-img
										img(src="img/soc-tw.svg" alt="")
									.content__award-title
										span.small 2014-2017
										p twitter
									.content__award-text.small Credibly streamline mission-critical value with multifunctional functionalities. Leading team designers.
								.content__award
									.content__award-img
										img(src="img/soc-inst.svg" alt="")
									.content__award-title
										span.small 2012-2014
										p instagramm
									.content__award-text.small Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.
								.content__award
									.content__award-img
										img(src="img/soc-in.svg" alt="")
									.content__award-title
										span.small 206-2012
										p linkedin
									.content__award-text.small Assertively exploit wireless initiatives rather than synergistic core competencies.
			.scrollable
				section.news
					.sticky-title
						ul
							li
								div from the blog
								div 5.0
					.content
						.content__left
							.content__title
								.h1 latest
								.h1 news
								.small I love my work and every project is my pride

							ul.content__menu.news__menu
								li.active
									a(href="javascript:;") How to design well?
								li
									a(href="javascript:;") Lemon Illustration design
								li
									a(href="javascript:;") Paul theme Branding
								li
									a(href="javascript:;") Best typography 2020
								li
									a(href="javascript:;") my name is pattison

							.content__btn-block
								.content__btn-label.small View all works
								a.content__btn-btn.btn.btn--arrow(href="blog.html" target="_blank")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")

						.content__right
							.news__blocks
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (01)
									.news__block-image
										a(href="blog.html" target="_blank")
											img(src="img/news-1.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (02)
									.news__block-image
										a(href="blog.html" target="_blank")
											img(src="img/news-2.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (03)
									.news__block-image
										a(href="blog.html" target="_blank")
											img(src="img/news-3.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (04)
									.news__block-image
										a(href="blog.html" target="_blank")
											img(src="img/news-4.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (05)
									.news__block-image
										a(href="blog.html" target="_blank")
											img(src="img/news-5.jpg" alt="")



			.scrollable#hireme
				section.contacts
					.sticky-title
						ul
							li
								div contact
								div 6.0
					.content
						.content__left
							.content__title
								.h1 Нанять нас
								.small Enjoy coffe with me

							ul.content__menu.contacts__menu
								li.active
									a.noicon(href="javascript:;" onclick="window.open('mailto:robert@info.com')") mail: robert@info.com
								li.active
									a.noicon(href="javascript:;" onclick="window.open('skype:robert')") skype: robert
								li.active
									a(href="https://behance.net/Paulggooo" target='_blank') www.behance.net/Paulggooo
								li.active
									a.noicon(href="https://t.me/robert_inc" target='_blank') telegram: robert_inc

							.contacts__copyright.small © Pattison 2021.  All Rights Resevered

						.content__right
							.content__subtitle Let's grab a coffee and jump on <span>conversation</span> chat with me.
							form.content__contacts.contacts__form.js-contact-form(method="post")
								.content__brief
									.content__brief-title
										label.input-file
											input(type="file" name="file" id="brief")
											span send a brief

									.content__brief-text.small I recommend filling out a brief to assess the cost of the project. <label for="brief">Brief</label>

								.content__form
									label.content__form-input
										input(type="text" name="name")
										span.content__form-placeholder name
									label.content__form-input
										input(type="email" name="emal" required="")
										span.content__form-placeholder EMAIL *
									label.content__form-input
										input(type="text" name="msg" required="" minlength="10")
										span.content__form-placeholder MESSAGE *
									.content__form-btn
										button.btn.btn--arrow(type="submit")
											svg
												use(xlink:href="./svg/sprite.svg#arrow")